 html body {
    font-family: 'Merriweather', serif;
  }
  .text_decoration_none{
    text-decoration: none;
  }

  .nav_barScroll_ul li{
    cursor: pointer;
  }

.whatsapp-number {
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.05rem;
  background: linear-gradient(90deg, #1E6125 0%, #14A129 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.email-address {
  color: var(--Tailwind-slate-900, #0F172A);
font-family: "Open Sans";
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.whatsapp-number-form-footer {
  font-family: "Open Sans";
  font-size: 1.24rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.05rem;
  background: linear-gradient(90deg, #1E6125 0%, #14A129 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.navbar-nav li {
  color: var(--Tailwind-slate-950, #020617);
font-family: Merriweather;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: normal;
 white-space: nowrap;
 
}
.home_list_3 ul li{
  color: var(--Tailwind-slate-800, #1E293B);
  leading-trim: both;
  text-edge: cap;
  font-family: Merriweather;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 151%; /* 1.51rem */
}
.home_list_3 h1{
  color: #000;
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 151%; /* 3.02rem */
}

.home_h1{
  font-size: 3.5rem;
  color: #430F39;
  font-weight:400 ;
}
.home_p{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 1.25rem;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 2rem */

  
}
.home_btn button{
  background-color: #430F39;
  color: white;
  border: none;
  font-size: 1.125rem;
  padding: 16px;
  

}

.home_btn2 button{
  color: #430F39;
  border: none;
  background-color:white;
  font-size: 1.125rem;
  padding: 16px;
}

.middlebar{
  background-color: #FAAA55;
}

.page1_h1{
  color: #421808;
  font-size: 2.5rem;
  line-height: 2.8rem;
  
}

.page1_h1 span{
  font-weight: 600;
}

.page_p{
  color: var(--Tailwind-slate-900, #0F172A);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: 1.6875rem; /* 168.75% */
color: #0F172A;
}

.page1{
  background-color: #FFF0D5;
  padding-bottom:130px;
}

.page2-container {
  display: flex;
  align-items: center;
}

.orange-line {
  border: none;
  border-top: 4px solid #FDDCAB;
  border-radius: 4px;
  margin-left: 20px;
  flex-grow: 1;
}

.ash-line{
  
  border: none;
  border-top: 4px solid #E2E8F0;
  border-radius: 4px;
  flex-grow: 1;
}

.brown-line {
  border: none;
  border-top: 4px solid #421808  ;
  border-radius: 4px;
  width: 15%;
 margin-top: 0;
}

.page2_p p{
  color: #421808;
  font-size: 2.5rem;
 line-height:2.9rem;
}

.page2_p span{
  font-weight: 600;
}
.toggle_iconm{
  font-size: 240px;
}

.page2_content p{
  color: var(--Tailwind-slate-900, #0F172A);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1.375rem;
font-style: normal;
font-weight: 400;
line-height: 164.3%; /* 2.25913rem */
}

.page2_content span{
  color: var(--Tailwind-slate-900, #0F172A);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1.375rem;
font-style: normal;
font-weight: 700;
line-height: 164.3%;
}

.page2_content ui li{
  margin-right: 3rem;
  color: #7B3413;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif;
}

.list-unstyled {
  flex-direction: row;
  flex-wrap: wrap;
}

.page2_btn{
  background-color: #430F39;
  color: white;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding: 0.75rem 0.75rem 0.75rem 1.25rem;

  

}
.page2_btn_div{
  align-items: end;
}

.page3_facility p{
 font-size: 1rem;
 font-weight: 600;
}

.page3_main_div{
 
  background-image: url('./assets/Vector1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.page4_box{
  background-color: #FFF0D5;
}
.page4_box h1{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.page4_box p{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: 172%; /* 1.72rem */
}

.box_1_div{
  margin-left: 19%;
}
.box1_img_div{
  padding-bottom: 3%;
}
.box2_img_div{
  margin-left: 36%;
}
.page4_main_div{
  background-image: url('./assets/Vector2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 2%;
  padding-bottom: 10%;
  padding-left: 4.4%;
}

.page5_main_div{
  padding-left: 5%;
  padding-right: 5%;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2.5rem;
  font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-edge: cap;
font-family: "Open Sans";
}

.answer {
  
  padding-top: 1.5rem;
  width: 50%;
  font-family: "Open Sans", sans-serif;
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;

font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 156.4%; /* 1.564rem */
}


.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  background-color: white;
  color: black; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


.page6_sub_div{
  background-image: url('./assets/RUJ.png');
  background-size:70%;
  background-position:80%;
  background-repeat: no-repeat;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   
}

.form_div{
  border-radius: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5%; 
}

.page6_sub_div {
  border-radius: 2rem;
  padding: 3rem;
  padding-top: 7rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: white;
  clip-path: polygon(0 0%, 3% 0, 90% 25%, 100% 100%, 0 100%);
  background-color: #14A129;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 10%;
  margin-bottom: 1rem;
  
  
}
.page6_contatnt{
  padding-top: 5rem;
  font-family: "Open Sans", sans-serif;
}
.page6_contatnt h1{
  color: var(--Tailwind-slate-950, #020617);
font-family: "Open Sans";
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: 3.75rem; /* 150% */
}
.page6_contatnt p{
  color: var(--Tailwind-slate-950, #020617);
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.5625rem; /* 178.571% */
 
}
.form_data ::placeholder{
  font-size: 1rem;
  color: #64748B;
  opacity: 0.6;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
.form_data_mobile ::placeholder{
  color: var(--Tailwind-slate-500, #64748B);
text-align: start;
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.form_data_mobile input{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  
}

.form_data input{
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  font-family: "Open Sans", sans-serif;
  
}
.page6_main_div{
  background-color: #FAAA55;
  font-family: "Open Sans", sans-serif;
}

.page6_footer{
  padding-left: 5rem;
  padding-right: 5rem;
  font-family: "Open Sans", sans-serif;
}

.form_btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #FFF;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.form-check-label{
  color: #303030;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.form-check-label a{
  text-decoration: none;
  color: var(--Tailwind-blue-700, #1D4ED8);
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.form-check-input {
 font-size: 1.1rem;
  cursor: pointer; 
  
}
.page7_box1{
border-top-left-radius: 20%;
}
.page7_btn1{
  color: #1D4ED8;
  border: none;
  background-color: transparent;
  font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.btn_arrow{
  font-size: 1.3rem;
  font-weight: 400;
}
.camera_icon{
  background-color: #00000099;
  border-radius: 5rem;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 8px;
 padding-bottom: 8px;
  color: white;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20%;
  margin-left: -20%;
}
.camera{
  font-size: 1rem;
}
.star{
color: #F78118 ;
font-size: 1.5rem;
margin-top: 1rem;
margin-bottom: 2rem;

}

.page8_box{
  background-color: #F8FAFC;
  border: 1px solid #CBD5E1;
  border-radius: 1rem;

  margin-top: 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.page8_box2 p{
  color: var(--Tailwind-slate-900, #0F172A);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.page8_box2 img{
width: 1.125rem;
height: 1.125rem;
}
.page10_sub_div p{
  color: var(--Tailwind-slate-900, #0F172A);
  leading-trim: both;
  text-edge: cap;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.page10_sub_div img{
  width: 1.5rem;
height: 1.5rem;
}

.orange_line{
  border: none;
  border-top: 7px solid #FAAA55  ;
  border-radius: 4px;
  width: 10%;
}


.location_div {
  background-color: #FAAA55;
  display: flex;
  padding: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
 

}

.location_text {
  margin-bottom: 4rem;

}

.location_text a{
  background-color: white;
  color: #020617;
 
  
  border-radius: 1.3rem;
  padding: 0.5rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  margin-bottom: 4rem;
  font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;

}




._line {
  position: relative;
  margin-bottom: 20px; 
  padding-bottom: 10px; 
  font-family: "Open Sans", sans-serif;
}
._line h1 {
  font-weight: 700; 
  font-size: 1.5rem;
}


._line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
height: 0.3125rem; 
  background-color: #FAAA55; 
  border-radius: 5px; 
}
.page_9_heading_sub{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.0225rem;
}

.review_box{
  background-color: #CBD5E1;
  color: #020617;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 1.3rem;
  padding: 0.5rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
  

.review_box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  background-color: #f9f9f9;
  flex: 1;
  font-family: "Open Sans", sans-serif;
}

.user_round_box {
  background-color:#CBD5E1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;

  
}

.user_round_box_page14 {
  background-color:#F1F5F9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;

  
}

.review_controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review_controls .arrow {
  cursor: pointer;
  margin: 8px;
  font-size: 24px;
  color: #333;
}

.page14_main_div{
  background-color: #EAEFF4;
  padding-right: 20%;
  padding-left: 20%;
  font-family: "Open Sans", sans-serif;
}
.page14_btn1{
  color: #1D4ED8;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.page14_btn1 .btn_arrow {
  margin-right: 10px;
}

.page14_box1{
  background-color: #F8FAFC;
  border: #020617;
  border-radius: 15px;

  margin-top: 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dotted-line {
  border-top: 1.5px dashed #E2E8F0; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%; 
}
.page14_last_phra{
  color: var(--Tailwind-slate-700, #334155);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: 168.5%; /* 1.26375rem */
}

.page14_final_p p{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 450;
line-height: normal;
letter-spacing: -0.02rem;
}

.page14_final_p .page14_final_p_ammount{
  color: var(--Tailwind-slate-950, #020617);
  leading-trim: both;
  text-edge: cap;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  letter-spacing: -0.0175rem;
}
.page14_last_phra_under_link p{
  color: var(--Tailwind-slate-700, #334155);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 168.5%; /* 1.47438rem */
}

.page14_last_phra_under_link p span{
  color: var(--Tailwind-blue-600, #2563EB);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 168.5%;
text-decoration-line: underline;
cursor: pointer;
}


.section-title {
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.025rem;
}
.colombo_page14_heding{
  color: #000;
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.0175rem;
}
.under_colombo_section_title{
  color: #000;
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.02rem;
}
.page14_p_heading{
  color: #000;
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.0175rem;
}

.page14_p1{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 450;
line-height: normal;
letter-spacing: -0.0175rem;
}

.date-picker {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}



.user_round_box_div p{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
align-self: center;
justify-content: center;
display: flex;
}

.page8_box_3_div .page8_box3_phra{
  color: var(--Tailwind-slate-900, #0F172A);
  leading-trim: both;
  text-edge: cap;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
 
}
.page8_box_3_div.page8_box3_phra img{
  width: 1.25rem;
  height: 1.25rem;
 
}

.review_orange span{
  color: var(--Yellow-Orange-600, #E8670E);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.review_orange {
  color: var(--Tailwind-slate-600, #475569);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: normal;
  
}

.count {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

hr {
  margin: 10px 0;
}


.rounded-image {
  border-radius: 50%; 
}





.carousel-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  font-size: 24px;
  padding: 7px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel-arrow-prev {
  left: 10px;
  font-size: 2rem;
  display: none;

}

.carousel-arrow-next {
  right: 10px;
  font-size: 2rem;
  display: none;
}

.carousel-image {
  transition: transform 0.2s ease-in-out;
  width: 100%;
}

.carousel-image:hover {
  transform: scale(1.05);
}

.camera_icon_mobile{
  background-color: transparent;
 

  color: white;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20%;
  margin-left: -20%;
 
 
}
.page10_sub_div_mobile{
    line-height: 3rem;
    font-family: "Open Sans", sans-serif;
}

.tick_mark{
  color: #22C55E;
  font-size: 1.7rem;
}
.map_div p{
  color: var(--Tailwind-slate-600, #475569);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.02rem;
}

.review_rate .p1{
 margin-right: 2rem;
 font-family: "Open Sans", sans-serif;

  }
.review_rate .p1 span1{
  color: var(--Tailwind-slate-950, #020617);
  leading-trim: both;
  text-edge: cap;
  font-family: "Open Sans";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.review_rate .p1 span2{
  color: var(--Tailwind-slate-600, #475569);
  leading-trim: both;
  text-edge: cap;
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  }

  .review_rate .span3{
   
    margin-right: 1rem;
    
    color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;

    
    }

    .review_rate .span4{
      color: var(--Tailwind-slate-500, #64748B);
      leading-trim: both;
      text-edge: cap;
      font-family: "Open Sans";
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      }

      .horizontal-scroll-container {
        display: flex;
        overflow-x: auto;
        height: 100%;
        scroll-snap-type: x mandatory;
        font-family: "Open Sans", sans-serif;

      }
      
      .horizontal-scroll-container .review_box {
        flex: 0 0 auto; 
        margin-right: 1rem; 
        scroll-snap-align: start;
        
      }
      .horizontal-scroll-container::-webkit-scrollbar {
        display: none; 
      } 
.Reviewed_color {
  color: var(--Tailwind-slate-600, #475569);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.review_content{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 194%; /* 1.94rem */
}

.page13_div p{
  color: var(--Tailwind-slate-900, #0F172A);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 156.3%; /* 1.36763rem */
}

.page13_div h4{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.0225rem;
}


.page13_div .green_color{
  color: #16A34A;
  font-weight: 600;
}

.page9_p_distance{
  color: var(--Tailwind-slate-500, #64748B);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.page9_p_place{
  color: var(--Tailwind-slate-900, #0F172A);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.place_div_img{
  width: 1.25rem;
  height: 1.25rem;
}



.page8_box_content .page8_p1{
  font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 0.7rem;
 
  
}


.page8_box_content a{
 color: black;
 font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
 font-family: "Open Sans", sans-serif;
 cursor: pointer;

}

.page8_p2{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.page8_p3{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  
}

.page8_rating_content .page8_rate_p1{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.page8_rating_content .page8_rate_p1 span{
  color: var(--Tailwind-slate-600, #475569);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1.5rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.showmore_a_tag_page8 {
  padding-top: 2rem;
  
}
.showmore_a_tag_page8 a{
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  
}
.page8_box_3_p1{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.page8_box_3_div p{
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
}

.page8_box_3_div_map_icon{
  margin-top: 1rem;
  cursor: pointer;

}
.page8_box_3_div_map_icon a{
  color: var(--Tailwind-slate-950, #020617);
  leading-trim: both;
  text-edge: cap;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;

}

.start_rating{
  font-size: 0.9rem;
  color: #475569;
  font-family: "Open Sans", sans-serif;
}
.icon_text{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.show-more{
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 173.3%; 
  font-style: normal;
font-weight: 400;


}
.page8_btn {

  cursor: pointer;


  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
}
.page8_top_content h1{
  color: #000;
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 2.2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.04rem;
}

.page8_side_content .p1{
  

  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;

margin-bottom: 0;
}

.page8_side_content .p2{
  font-size: 1rem;
 text-decoration: line-through;
  color: #475569;
  font-family: "Open Sans", sans-serif;

  margin-bottom: 0;

  
 
}
.page8_side_content .p3{
 
  font-family: "Open Sans", sans-serif;
  color: #475569;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
 
}
.page8_side_content{
  line-height: 0.9rem;
  font-family: "Open Sans", sans-serif;
}

.Reserve_btn{
  background-color: #430F39;
  color: white;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.7rem;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Merriweather', Times, serif;
}

.sticky-bottom-md {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: white; 
  padding: 1rem; 
}

.Reserve_btn_sticky button{
    
    
  background-color: #430F39;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 0.7rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Merriweather', Times, serif;


}

.sticy_boX_style{
  background: var(--Tailwind-white, #FFF);
box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.35);

  
}

.btn_design,
.page_1_main_div::after{
width: 100%;
position: absolute;
}

.page_1_main_div::after{
  content: '';
  height: 40%;
  bottom: 0;
  transition: 0.5s;
}

.page_1_main_div:hover::after{
  background: linear-gradient(180deg, rgba(250, 248, 236, 0.00) 0%, rgba(255, 248, 237, 0.82) 77.01%, #FFF8ED 100%);
}
.btn_design {


  bottom: 0;
  z-index: 1;
  transform: translateY(100%);
  opacity: 0;
  transition: all .5 cubic-bizier(.13,.62,.81,.91) 0s;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--Medium-Red-Violet-950, #430F39);
}
.btn_design Link a {


  bottom: 0;
  z-index: 1;
  transform: translateY(100%);
  opacity: 0;
  transition: all .5 cubic-bizier(.13,.62,.81,.91) 0s;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--Medium-Red-Violet-950, #430F39);
}

.page_1_main_div:hover .btn_design{
  transform: translateY(-100px);
  opacity: 1;
}

.toggle_icon{
  
  cursor: pointer;
  
}
.back_icon_nav{
  display: flex;
width: 2.75rem;
height: 2.75rem;
padding: 0.625rem;
  color: #430F39;
  cursor: pointer;
  border-radius: 0.75rem;
background: var(--Medium-Red-Violet-50, #FDF6FC);
  
}
.toggle_icon{
  display: flex;
width: 2.75rem;
height: 2.75rem;
padding: 0.625rem;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 0.75rem;
background: var(--Medium-Red-Violet-50, #FDF6FC);

}

.toggle_icon_btnn{
  font-size: 3rem;
  color: #430F39;
}
.page_11_map_a_tag_btn{
  text-decoration: underline;
  cursor: pointer;
}

.navbar-nav{

  font-size: 0.9rem ;
  font-weight: 700;
  align-items: center;
  border-radius: 10px;
  padding-top: 10px;  
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  
  }

  .home_page_new {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .home_page_new::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    height: 100%;
    background-color: #FFF0D5;
    z-index: -1;
    
  }
  .image_collection_div p{
    color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.02rem;
  }


/* Change the color of the Apply button */
.daterangepicker .applyBtn {
  background-color: #F78118 !important; /* Change this to your desired color */
  color: #fff !important; /* Change text color */
  border: none !important; /* Remove border if needed */
  border-radius: 5px !important; /* Adjust border-radius if needed */
}


/* Optional: Change the color of the Cancel button */
.daterangepicker .cancelBtn {
   /* Change this to your desired color */
  color: black !important; /* Change text color */
  border: none !important; /* Remove border if needed */
  border-radius: 5px !important; /* Adjust border-radius if needed */
}

/* General active date style */
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #F78118 !important;
  color: #fff !important; /* Change text color of active date */
}

/* Specific style for the start date */
.daterangepicker td.start-date,
.daterangepicker td.in-range.start-date {
  background-color: #F78118 !important;
  color: #fff !important; /* Change text color of active date */
  border-radius: 20px 0px 0px 20px !important;
  margin: 20px !important; /* Adjust border-radius for start date */
}

/* Specific style for the end date */
.daterangepicker td.end-date,
.daterangepicker td.in-range.end-date {
  background-color: #F78118 !important;
  color: #fff !important; /* Change text color of active date */
  border-radius: 0px 20px 20px 0px !important; /* Adjust border-radius for end date */
}

/* Style for the dates within the selected range */
.daterangepicker td.in-range {
  background-color: #FDDCAB !important; /* Background color for dates within the range */
  color: #fff !important; 
}

/* Adjust DateRangePicker size and position */
.daterangepicker {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important; /* Add shadow for depth */
  border-radius: 25px !important;
  padding-bottom: 15px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  
}

/* Hide predefined ranges */
.daterangepicker .ranges {
  display: none !important;
  
}

/* Hide selected date range display */
.daterangepicker .drp-selected {
  display: none !important;

}
.page_14_form_feild p{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.page14_selected_date_range_text p{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.page14_selected_date_range_text .night{
  color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.payement_ammount_p{
  color: var(--Tailwind-slate-950, #020617);
  leading-trim: both;
  text-edge: cap;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02rem;
}
.amount{
  color: var(--Medium-Red-Violet-900, #67285A);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.03rem;
  }

.navbar_custom1{
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer_phra_desktop{
  color: var(--Tailwind-slate-950, #020617);
text-align: center;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 185.714% */
}

.page2_btn_Continue_to_Pay{
  background-color: #430F39;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
font-family: Merriweather;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.page2_container{
  padding-left: 4rem;
  padding-right: 4rem;
}


.middlebar {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.horizontal_scroll_container_middlebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  animation: scroll 20s linear infinite;
 
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.middlebar_contant ul{
  padding: 9px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header_class {
  position: sticky;
  background-color: transparent; 
  
}

body {
  padding-top:0px; 
}

.back_icon_nav_sixe{
  font-size: 24px;
  
}




/* .map{
  padding-right: 5rem;
  padding-left: 5rem;
} */


@media (max-width: 992px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .whatsapp-number span{
    font-size: 1.5rem;
    display: none;
    white-space: nowrap;
  }

  .whatsapp_number_footer{
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.04rem;
    background: linear-gradient(90deg, #1E6125 0%, #14A129 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
  .whatsapp-number-div {
    background-color: #52CB5F33;
     border-radius: 30%;
   padding: 0.375rem;
    align-items: center;
    justify-content: center;
    
  }
  .toggle_icon_div{
   display: block;
  }
  .navbar_custom1{
    display: none;
  }
 
 
}
@media (min-width: 992px) {
  .toggle_icon_div{
    display: none;
  }
  .navbar_custom ul{
    display: none;
  }
  .navbar-nav{

  
    box-shadow: none
    
    }
  
}


/* Tablet styles */
@media (min-width: 577px) and (max-width: 768px) {
  .page2_p  p{
    font-size: 2.2rem;
  }

  .page3_main_div{
 
    background-image:none
  }
  .page4_main_div{
    background-image: none;
    
    
  }
  .page6_contatnt{
    padding-top: 1rem;
  }
  .page6_contatnt_mobile h1{
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
  
  }
  .page6_contatnt_mobile p{
    font-size:1.1rem;
    padding-top: 0.5rem;
   
  }
  .email-address {
   background-color: #FFF0D5;
  }
  .page6_main_div{
    background-color: #FFF0D5;
    
  }
  .form_data input{
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-radius: 15px;
  }

  .form_data ::placeholder{
    font-size: 1rem;
    color: #64748B;
    opacity: 0.6;
    font-weight: 500;
  }
  
  .form_div{
    
    box-shadow:none;
    margin-top: 5%; 
  }
  .page6_footer{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .page9_p_distance{
    
    font-size: 1rem;
  }
  
  .page9_p_place{
    font-size: 1rem;
  }
  .page1{
    
    padding-bottom:0px;
  }

  .home_p{
    font-size: 1.2rem;
    
  }
  .home_h1{
    color: var(--Medium-Red-Violet-950, #430F39);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 151%; /* 3.20875rem */
  }
  .home_btn button{
    font-size: 1.1rem;
    
  
  }
  
  .home_btn2 button{
    font-size: 1.1rem;
  }
  .navbar-nav li {
    font-size: 1.15rem;
    
  }
  .home_page_new::after {
   
    background-color: transparent;
    
    
  }
  
}


/* Mobile styles */
@media (max-width: 576px) {
  .page2_p p {
    color: var(--Yellow-Orange-950, #421808);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 1.5rem;
font-style: normal;
font-weight: 300;
line-height: normal;

  }

  .form_div_Footer_mobile .form_data input{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 15px;
    
  }

  .form_div_Footer_mobile .form_data input:hover{
    border:0.5px solid black;
   
  };

  .form_div_Footer_mobile .form_data ::placeholder{
    color: var(--Tailwind-slate-500, #64748B);
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .page2_p p span {
    color: var(--Yellow-Orange-950, #421808);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;

  }

  .orange-line {
    margin-left: 0px;
    
  }

  .page2_content p {
    color: var(--Tailwind-slate-900, #0F172A);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 194.3%; /* 1.70013rem */
  }

  .page2_content p  span{
    color: var(--Tailwind-slate-900, #0F172A);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: 194.3%;
  }
  

  .page2_content ui li{
    color: var(--Yellow-Orange-900, #7B3413);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: 160.3%; /* 1.40263rem */
  }

  .page2_content ui li .tick_icon{
   font-size: 1.2rem;
  
  }

  .list-unstyled {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ash-line{
  
 display: none;
  }

  .page2_btn{
   
    width: 100%;
    color: var(--Tailwind-white, #FFF);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 0.75rem 0.75rem 0.75rem 1.25rem;

  
  }
  .page3_main_div{
 
    background-image:none;
    padding-left: 0.6rem;
  padding-right: 0.6rem;
  }
  .page4_main_div{
    background-image: none;
    padding-left: 0%;
  }

  .box_1_div{
    margin-left: 0%;
  }

  .mobile_page4_box{
   padding-bottom: 30%;
   margin-bottom: 20px;
   
  }

  .page4_box h1{
   
    color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 0.95rem;
font-style: normal;
font-weight: 500;
line-height: normal;
    
  }
  
  .page4_box p{
    color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 0.75rem;
font-style: normal;
font-weight: 300;
line-height: 172%; /* 1.29rem */
  }

  .question {
    
    color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
    
  }
  .answer {
    color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 1.575rem */
    width: 100%;
  }

  .page6_contatnt_mobile{
    padding-top: 1rem;
    
  }
  .page6_contatnt_mobile h1{
    color: var(--Tailwind-slate-950, #020617);
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
  }
  .page6_contatnt_mobile p{
    color: var(--Tailwind-slate-950, #020617);
font-family: "Open Sans";
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: 179.5%; /* 1.34625rem */
   
  }
  .email-address {
   color: var(--Tailwind-slate-900, #0F172A);
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
  .page6_main_div{
    background-color: #FFF0D5;
  }
 
  
  .form_div{
    
    box-shadow:none;
    margin-top: 5%; 
  }
  .page6_footer{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }


  .form-check-label {
    color: #303030;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .form-check-label a{
    color: var(--Tailwind-blue-700, #1D4ED8);
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .form_btn {
    background-color: #430F39;
    color: var(--Tailwind-white, #FFF);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;;
    
  }

  ._line::after {
    
    width: 25%;
    
  }

  .location_div {
   
    padding: 10px;
      
  }
  .location_text {
    margin-bottom: 3rem;
  
  }
  
  .location_text a{
    font-size: 0.9rem;
    border-radius: 1.2rem;
    padding: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
   
  
  }
  .map_div{
   
    font-size: 1rem;
  }
  .review_box{
    
    font-size: 1.1rem;
    border-radius: 1.3rem;

    padding-left: 0.6rem;
    padding-right: 0.6rem;
    
  }

  .page9_p_distance{
    
    font-size: 1.05rem;
  }
  
  .page9_p_place{
    font-size: 1.05rem;
  }
  .middlebar_contant ul{
    padding: 4px;
    margin: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .middlebar_contant ul li{
    font-size: 0.9rem;
   
  }
  .start_rating{
    font-size: 0.8rem;
    color: #475569;
  }
  .icon_text{
    font-size: 0.92rem;
  }
  .page8_box_3_div p{
    font-size: 1rem;
  }
  .show-more{
    font-size: 1.1rem;
  }
  .page8_btn {
    font-size: 1.1rem;
   
  }
  .page1{
    background-color: #FFF0D5;
    padding-bottom:0px;
  }
  .home_p{
    color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 0.875rem;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 1.4rem */
    
  }
  .home_h1{
    font-size: 2.5rem;
  }
  .home_btn button{
    font-family: Merriweather;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 151%; 
    
  
  }
  
  .home_btn2 button{
    font-family: Merriweather;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 151%; 
  }
  .navbar-nav li {
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
    
  }
  .page1_h1{
    
    color: var(--Yellow-Orange-950, #421808);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: normal;
    
  }
  .zoomicon{
    color: white;
  
  }
  .zoomicon_div{
    padding-bottom: 30px;
  }
  .home_page_new::after {
   
    background-color: transparent;
    
    
  }

  .home_list_3 ul li{
    color: var(--Tailwind-slate-800, #1E293B);
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 0.875rem;
font-style: normal;
font-weight: 300;
line-height: 151%; /* 1.32125rem */
  }

  .home_list_3 ul h1{
    color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 1.75rem;
font-style: normal;
font-weight: 400;
line-height: 151%; /* 2.6425rem */
  }
  .page14_main_div{
    
    padding-right: 1%;
    padding-left: 1%;
  }
  .page_p{
    color: var(--Tailwind-slate-900, #0F172A);
leading-trim: both;
text-edge: cap;
font-family: Merriweather;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: 1.6875rem; /* 168.75% */
  }

  .image_collection_div p{
    color: var(--Tailwind-slate-950, #020617);
leading-trim: both;
text-edge: cap;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.02rem;
  }

.footer_phra_mobile{
    color: var(--Tailwind-slate-950, #020617);
text-align: center;
font-family: "Open Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 185.714% */
  }

  .page2_container{
    padding-left: 0rem;
    padding-right: 0rem;
  }


  /* Change the color of the Apply button */
.daterangepicker .applyBtn {
  background-color: #430F39 !important; /* Change this to your desired color */
  color: #fff !important; /* Change text color */
  border: none !important; /* Remove border if needed */
  border-radius: 5px !important; /* Adjust border-radius if needed */
}


/* Optional: Change the color of the Cancel button */
.daterangepicker .cancelBtn {
   /* Change this to your desired color */
  color: black !important; /* Change text color */
  border: none !important; /* Remove border if needed */
  border-radius: 5px !important; /* Adjust border-radius if needed */
}

/* General active date style */
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #430F39 !important;
  color: #fff !important; /* Change text color of active date */
}

/* Specific style for the start date */
.daterangepicker td.start-date,
.daterangepicker td.in-range.start-date {
  background-color: #430F39 !important;
  color: #fff !important; /* Change text color of active date */
  border-radius: 20px 0px 0px 20px !important;
  margin: 20px !important; /* Adjust border-radius for start date */
}

/* Specific style for the end date */
.daterangepicker td.end-date,
.daterangepicker td.in-range.end-date {
  background-color: #430F39 !important;
  color: #fff !important; /* Change text color of active date */
  border-radius: 0px 20px 20px 0px !important; /* Adjust border-radius for end date */
}

/* Style for the dates within the selected range */
.daterangepicker td.in-range {
  background-color: #F7D7F5 !important; /* Background color for dates within the range */
  color: #fff !important; 
}

.Header_class {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; 
  
}

body {
  padding-top: 70px;
   
}







 
}










